<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" device="width=device-width initial scale=1.0" ; />
    <title>pH Detection</title>
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <div id="loader" style="display:none" class="loader3">
      <div class="circle1"></div>
      <div class="circle1"></div>
      <div class="circle1"></div>
      <div class="circle1"></div>
      <div class="circle1"></div>
    </div>
    


<h1>Rainfall pH Detection</h1>

    <form class="form-container" method="post"id="myForm">
      <div class="input-container">
        <input
          type="number"
          name="text"
          class="input"
          placeholder="Enter value"
        />
        <div class="highlight"></div>
      </div>
      <button onclick="showLoader()">
        Submit
        
      </button>
    </form>

    <div class="ph">
      <h2>{{inp }}</h2>
      <h2>{{advice }}</h2>
    </div>

   
    <script>
      function showLoader() {
  document.getElementById('loader').style.display = 'flex'; 

  setTimeout(function () {
    document.getElementById('loader').style.display = 'none'; 
  }, 10000);
}

    </script>
  </body>
</html>
